<div class="container" >
  <div class="row">
    <div class="offset4 span4">
		<form class="well form-horizontal" ng-submit="restorePassword()" role="form">
		    <div class="form-group has-success">
		        <label for="email" class="col-sm-2 control-label">Email:</label>
		        <div class="col-sm-10">
		            <input type="email" name="email" id="email" ng-model="restorePassUser.email" class="form-control" placeholder="Your Email" required/>
		        </div>
		    </div>
		    <input type="submit" id="register" value="Restore password" class="btn btn-default"/>
		</form>
	</div>
  </div>
</div>